* {
  margin: 0;
  vertical-align: middle;
  font-family: "Lexend Exa", serif;
  overflow-x: hidden;
}
body {
  background-color: #8c52ff;
}
#header {
  height: 120px;
  padding-top: 70px;
  padding-left: 50px;
  background-image: linear-gradient(to left, #dfcfff34 1%, white 50%);
}
#links {
  display: inline-flex;
}
.links {
  background-color: #dccbff;
  display: inline-flex;
  margin: 5px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  font-size: 15px;
  transition: 0.35s;
}
#links:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
}
#menu {
  display: inline-flex;
}
#menu-bar {
  position: absolute;
  right: 30px;
  top: 110px;
  transition: 1s;
  text-align: center;
  border-radius: 40px 0 40px 40px;
  max-height: 0;
  max-width: 30px;
  background-color: #8c52ff;
  overflow: hidden;
}
#menu-bar.active {
  right: 30px;
  top: 110px;
  padding: 40px;
  max-height: 200px;
  max-width: 200px;
  z-index: 0;
}
.menu {
  z-index: 1;
  background-color: #8c52ff;
  display: inline-flex;
  margin: 5px;
  position: absolute;
  right: 25px;
  top: 70px;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  text-decoration: none;
  padding: 12px;
  font-size: 25px;
  transition: 1s;
}
.menu.active {
  border-radius: 40% 40% 0 0;
  padding: 12px 12px 40px 12px;
}
.menu:hover {
  cursor: pointer;
}
#menu-links {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#menu-links.active {
  opacity: 1;
  visibility: visible;
}
#menu-links li {
  padding: 10px;
  transition: 1s;
}
#menu-links li:hover {
  background-color: #7530ff;
  border-radius: 30px;
}
#menu-links li a {
  color: white;
}
#inicio {
  background-image: linear-gradient(to left, #dfcfff34 1%, white 50%);
  height: 65dvh;
  text-align: center;
  padding: 130px 0 0 0;
}
#left {
  display: inline-flex;
  width: 49%;
  vertical-align: middle;
}
#nome_tec {
  margin: 0 50px 0px 50px;
}
#nome {
  font-size: 100px;
  font-family: "Dela Gothic One", serif;
  font-weight: lighter;
}
#and {
  margin: 0 15px 0 15px;
}
#line {
  border: #8c52ff 1px solid;
  width: 350px;
  height: 0;
  margin: 40px 0 0 50px;
}
a {
  text-decoration: none;
}
#tec {
  display: inline-flex;
  font-size: 23px;
}
.tec {
  background-color: #dccbff;
  color: #8c52ff;
  border-radius: 20px;
  padding: 5px;
}
#right {
  display: inline-flex;
  width: 49%;
  font-size: 23px;
  text-align: right;
  vertical-align: middle;
}
#about {
  margin: 0 30px 0px 00px;
}
#tituloP {
  margin: 100px 0 40px 150px;
}
#tituloP h1 {
  font-size: 80px;
  font-family: "Dela Gothic One", serif;
  display: inline-flex;
}
.lineP {
  width: 110dvh;
  display: inline-flex;
  background-color: #8c52ff;
  height: 4px;
  border-radius: 15px;
  margin: 0 0 15px 120px;
}
#projetos {
  margin: 0 auto;
  width: 100%;
  min-height: 100dvh;
  background-color: white;
}
.projeto {
  width: 60%;
  margin: 60px auto;
  border-radius: 30px;
  background-color: #8c52ff;
  transition: 0.35s;
  text-align: left;
  padding: 5dvh 5dvh 5dvh 5dvh;
}
.projeto div img {
  width: 500px;
  display: inline-flex;
  border-radius: 30px;
}
.conteudoP {
  width: 100%;
  display: inline-flex;
}
#nomeT {
  margin: 20px 0 0 20px;
  transition: 0.35s;
  font-size: 28px;
}
#nomeT p {
  display: inline-flex;
  background-color: white;
  margin: 0 0.5dvh 5px 0;
  padding: 5px;
  border-radius: 15px;
  color: #8c52ff;
  font-size: 19.1;
}
#tituloNH {
  color: white;
  font-weight: 400;
}
.descricao {
  opacity: 0;
  margin: 200px -700px 0 0;
  transition: 0.35s;
  color: white;
  font-size: 20px;
  width: 400px;
}
#curriculo {
  width: 100%;
  min-height: 100dvh;
  background-color: white;
}
#tituloC {
  font-size: 80px;
  font-family: "Dela Gothic One", serif;
  display: inline-flex;
  background-color: #8c52ff;
  color: white;
  padding: 15px 40px 15px 350px;
  margin-left: -250px;
  border-radius: 80px;
}
#conteudoC {
  border: #8c52ff 2px solid;
  width: 1000px;
  margin: 120px auto;
  border-radius: 20px;
  padding: 150px;
  overflow: hidden;
}
#conteudoC h2 {
  color: #7530ff;
}
#curriculo-escrita {
  width: 800px;
  margin: 0 auto;
}
#footer {
  width: 100%;
  background-image: linear-gradient(to top, #dfcfff34 5%, white 100%);
  padding: 150px 0 100px 0;
}
#contate {
  margin: 0 0 0 45px;
  color: white;
}
#contate h1 {
  margin-bottom: 20px;
}
#contate a {
  font-size: 23px;
}
#email {
  color: white;
  text-decoration: none;
}
#linksrodape:hover > :not(:hover) {
  opacity: 0.4;
  transform: scale(0.9);
}
#linksrodape {
  margin: 25px 0 0 45px;
}

/* ===== MEDIA QUERIES agrupadas no final ===== */
@media (min-width: 1200px) {
  .projeto:hover {
    width: 80%;
  }
  .projeto:hover .descricao {
    opacity: 1;
    margin: 200px 0 0 400px;
  }
  .projeto:hover #nomeT {
    font-size: 20px;
  }
}
@media (max-width: 1600px) {
  #menu {
  }
  #tituloP h1 {
    font-size: 70px;
  }
  .lineP {
    width: 90dvh;
  }
  .projeto {
    width: 60%;
    padding: 3dvh 3dvh 3dvh 3dvh;
  }
  #linksrodape {
    margin: 25px 0 0 35px;
  }
}
@media (max-width: 1200px) {
  #menu {
  }
  #nome {
    font-size: 80px;
  }
  #tec {
    font-size: 18px;
  }
  .tec {
    border-radius: 50px;
    padding: 7px;
  }
  #left {
    margin: 0;
  }
  #right {
    font-size: 18px;
    margin: 0;
  }
  #tituloP {
    margin: 40px;
  }
  #tituloP h1 {
    font-size: 70px;
  }
  .lineP {
    display: none;
  }
  .projeto {
    width: 45%;
    padding: 25px;
  }
  .conteudoP {
    width: 100%;
    display: block;
    text-align: center;
  }
  .projeto .descricao {
    opacity: 1;
    margin: 20px auto;
    width: 300px;
  }
  .projeto #nomeT {
    margin: 5dvh 0 0 20px;
    font-size: 20px;
  }
  .projeto div img {
    width: 90%;
    margin: 0 auto;
  }
  #tituloNH {
    font-size: 40px;
  }
  #nomeT p {
    font-size: 15px;
  }
  .descricao {
    font-size: 15px;
  }
  #tituloC {
    font-size: 70px;
  }
  #conteudoC {
    width: 600px;
  }
  #linksrodape {
    margin: 25px 0 0 25px;
  }
}
@media (max-width: 768px) {
  #inicio {
    height: 130dvh;
    padding: 0px 0 0 0;
    display: block;
    width: 100%;
  }
  #left {
    width: 100%;
    text-align: center;
  }
  #nome_tec {
    margin: 0 auto 80px auto;
    display: block;
  }
  #nome {
    font-size: 40px;
    margin: 100px 0 0 0;
  }
  #tec {
    font-size: 18px;
  }
  .tec {
    border-radius: 50px;
    padding: 7px;
  }
  #line {
    display: none;
  }
  #right {
    font-size: 18px;
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0;
    text-align: center;
  }
  #about {
    margin: 15px;
  }
  #tituloP {
    margin: 40px;
  }
  #tituloP h1 {
    font-size: 50px;
  }
  .lineP {
    width: 85dvh;
    opacity: 0;
  }
  .projeto {
    width: 65%;
    padding: 5dvh 3dvh 5dvh 3dvh;
  }
  .conteudoP {
    width: 100%;
    display: block;
    text-align: center;
  }
  .projeto .descricao {
    opacity: 1;
    width: 100%;
    font-size: 12px;
    margin: 40px auto 40px auto;
  }
  .projeto #nomeT {
    margin: 5vh 0 0 0;
    font-size: 20px;
  }
  .projeto div img {
    width: 100%;
    margin: 15px auto;
  }
  #tituloNH {
    font-size: 30px;
  }
  #nomeT p {
    font-size: 12px;
  }
  #tituloC {
    font-size: 35px;
    padding: 15px 40px 15px 300px;
  }
  #conteudoC {
    width: 65%;
    padding: 45px 5px;
    font-size: 11px;
  }
  
  #curriculo-escrita{
    width: 250px;
  }
   #curriculo-escrita h2{
    padding: 10px 0;
  }
}
@media (max-width: 600px) {
  #menu {
  }
  #linksrodape {
    margin: 25px 0 0 15px;
  }
  #conteudoC {
    width: 65%;
    padding: 45px 5px;
    font-size: 11px;
  }
  #curriculo-escrita{
    width: 250px;
  }
  #curriculo-escrita h2{
    padding: 10px 0;
  }
}
